.container1{background-color: rgb(31, 3, 2);text-align: center;margin: 1rem;border: solid maroon;}
.item2{display: flex;background-color: rgb(0, 13, 27);color: mintcream;border: solid maroon;font-family: 'Fira Sans Extra Condensed', sans-serif;}
.item3{display: flex;text-align: center;}
.nav a:hover{color: skyblue;font-family: 'Russo One', sans-serif;}



